<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/general.css">
    <link rel="stylesheet" href="/public/css/registro.css">
    <title>Blog</title>
</head>
<div>

    <div class="container-fluid">
        <div class="row">
                <nav class="col-3">
                    <%- include('./articles/partials/_nav.ejs') %> 
                </nav>

                <div class="col-9">
                    <header class="col-12">
                    <%- include('./articles/partials/_header.ejs')  %> 
                    <%- include('././articles/partials/_modal-singup.ejs') %>
                    <%- include('././articles/partials/_modal-login.ejs') %>
                    </header>
                    <% if(signupMessage.length > 0){ %>
                        <div class="alert alert-danger text-center font-weight-bold text-danger mb-2">
                            <p class="m-0 p-2"><%= signupMessage %></p>
                        </div>
                    <% } %>
                
                    <% if(signinMessage.length > 0){ %>
                        <div class="alert alert-danger text-center font-weight-bold text-danger mb-2">
                            <p class="m-0 p-2"><%= signinMessage %></p>
                        </div>
                    <% } %>

                    <main class="bg-white col-12">
                        <div class="card mb-5">
                            <div class="card-body">
                                <div class="text-center">
                                    <img src="<%= article.imageURL %>" class="card-img-top" alt="..." style="width: 600px;">
                                </div>
                                <h1 class="card-title mt-3 text-center text-dark"><%= article.title %></h1>
                                <p class="card-text text-center"><%= article.description %></p>
                                <p class="card-text text-bold"><small class="text-muted"><span>Fecha de publicacion: </span><%= article.createdAt.toLocaleString() %></small></p>
                            </div>
                        </div>

                        <h2>Leer otros articulos</h2>
                        <div class="row">
                            <% articles.forEach(article => { %>
                                <div class="col-4">
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <div class="text-center">
                                                <img src="<%= article.imageURL %>" class="card-img-top" alt="..." style="width: 200px;">
                                            </div>
                                            <h5 class="card-title mt-3 text-center text-dark"><%= article.title %></h5>
                                            <p class="card-text text-bold"><small class="text-muted"><span>Fecha de publicacion: </span><%= article.createdAt.toLocaleString() %></small></p>
                                            <a href="/<%= article.slug %>" class="btn btn-dark">Leer mas</a>
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                        </div>
                    </main>
                </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>